*
{ 
    font-family: Akzidenz Grotesk BQ Light,Helvetica,Arial;
    font-weight: 500;
}

.font
{
    color: rgb(19,170,82);
}

.menu:hover
{
    color: rgb(19,170,82) !important;
}

.navbar{
    background-color: #fff;
}

#navbarToggleExternalContent{
    background-color: #fff;
}

.container-fluid{
    margin-top: 1rem;
}

.btn
{
    border-radius: 0rem !important;
    font-size: .8rem !important;
    line-height: .8rem;
}